div{
    margin: auto;
}
button{
   
    font-size: 1.5rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 10px;
    border-radius: 14px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: all .3s;

}
button i{
    padding: 0 3px;
    margin-right: 5px;
}

button:hover{
  box-shadow: 0 0 10px #bbb;
}
.fa-sun {
    color: aqua;
}
.moon{
    background: linear-gradient(45deg, blue, red);
}
.sun{
    
    background: linear-gradient(45deg, rgb(255, 230, 0), red);

}
.sun i{
color: black;
}